mjx-container {
    display: inline-grid;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
  }
img{
    max-width: 100%;
}
a.nav{
    padding: 5px;
    display: inline-flex;
    text-decoration: none;
    transition: box-shadow 0.2s;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
    font-family: 'Long Cang', cursive;
    font-size: 1.5rem;
}
a.nav:hover{
    box-shadow: inset 0 -3px 0 black;
}


body{
    background-color: bisque;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Noto Serif SC', serif;
    font-size: 100%;
}
.container{
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    max-width: 100%;
    display: inline-flex;
}
nav.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 100%;
}
main{
    display: inline-grid;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    order: 60;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 100%;
}

section.banner{
    display: flex;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
}

section.post-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex: 1; */
    /* width: 300px; */
    /* flex-flow: row wrap; */
}

h1.post-title{
    display: flex;
    /* flex-flow: row wrap; */
    max-width: 100%;
    text-align: center;
}
.post-list{
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    justify-content: flex-start;
}