img{
    max-width: 100%;
}
body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    max-width: 100%;
    /* width: 200px; */
    font-family: 'Noto Serif SC', serif;
    font-size: 100%;
}

header{
    display: flex;
    flex-direction: column;
    order: 10;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 100%;
}
section.banner{
    display: flex;
    cursor: pointer;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
}
section.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Long Cang', cursive;    
}
.player{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}
audio{
    background-color: bisque;
    height: 1.5rem;
    width: 100px;
}

aside.left{
    display: flex;
    width: 0;
    order: 30;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
}

nav.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    list-style-type: none;
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Long Cang', cursive;
    order: 20;
    padding: 5px;
}
a.nav{
    padding: 5px;
    display: inline-flex;
    text-decoration: none;
    transition: box-shadow 0.2s;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
}
a.nav:hover{
    box-shadow: inset 0 -3px 0 black;
}

main{
    min-height: 6.25rem;
    max-width: 100%;
    /* width: 300px; */
    display: flex;
    order: 40;
    /* flex: 1; */
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 1rem;
    margin: 5px;
    border-style: hidden;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgb(155, 123, 82);
}
h1.post-title{
    display: flex;
    /* flex-flow: row wrap; */
    max-width: 100%;
    text-align: center;
}

aside.right{
    display: flex;
    order: 50;
    justify-content: center;
    margin: 0;
    width: 0;
}

footer{
    display: flex;
    flex-direction: column;
    order: 60;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 100%;
}

mjx-container {
    display: flex;
    overflow: auto;
    max-width: 100%;
}
section.post-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex: 1; */
    /* width: 300px; */
    /* flex-flow: row wrap; */
    background-color: brown;
}
section.test{
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    order: 100;
    /* flex: 1; */
    width: 100%;
    background-color: cadetblue;
}
quote{
    background-color: blue;
    width: 100%;
}
p {
    display: flex;
    overflow: auto;
    max-width: 100%;
}